<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <h2 th:text="#{findPassword}">비밀번호 찾기</h2>
    <fieldset>
        <legend th:text="#{findPwWithIdAndEmail}">"비밀번호를 찾기 위해 이메일과 아이디를 입력해주세요."</legend>
        <form action="verifycode.html" th:action="@{/login/find/pw}" method="post">

            <label for="id" th:text="#{id}">아이디</label>
            <input type="text" id="id" name="id">

            <label for="email" th:text="#{email}">이메일</label>
            <input type="text" id="email" name="email" th:value="email">

            <div th:if="${errormsg != null and errormsg.startsWith('noId')}" th:text="#{noIdExistOrCorrespondToEmail}"></div>

            <button onclick="location.href='verifycode.html'"
                    th:text="#{confirm}"
                    type="submit">확인</button>
            <button onclick="location.href='../../loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    th:text="#{return}"
                    type="button">돌아가기</button>
        </form>
    </fieldset>

</body>
</html>