<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <h2 th:text="#{findPassword}">비밀번호 찾기</h2>
    <fieldset>
        <legend th:text="#{insertNewPassword}">"새로운 비밀번호를 저장합니다."</legend>
        <form action="../loginForm.html" th:action="@{/login/find/pw/newpw}" th:object="${passwordCheck}" method="post">

            <label for="password" th:text="#{member.password}">비밀번호 </label>
            <input type="password" id="password" name="password"
                   th:field="*{password}" th:errorclass="password-error">
            <div class="password-error" th:errors="*{password}"></div>

            <label for="check" th:text="#{pwCheck}">비밀번호 확인 </label>
            <input type="password" id="check" name="check"
                   th:field="*{check}" th:errorclass="check-error">
            <div class="check-error" th:errors="*{check}"></div>

            <h5 th:if="${errormsg != null}" th:text="#{|${errormsg}|}"></h5>
<!--            <div th:if="${errormsg != null and errormsg.equals('notMatchPasswordWithCheck')}" th:text="#{notMatchPasswordWithCheck}"></div>-->

            <button onclick="location.href='../../loginForm.html'"
                    th:text="#{confirm}"
                    type="submit">확인</button>
            <button onclick="location.href='../../loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    th:text="#{return}"
                    type="button">돌아가기</button>
        </form>
    </fieldset>
</body>
</html>