<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="favicon.png"/>
    <title>코드 인증</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <h2 th:text="#{findPassword}">비밀번호 찾기</h2>
    <form action="newpwForm.html" th:action="@{/find/pw/verifycode}" method="post">
        <fieldset style="width:250px;">
            <p th:text="#{insertAuthCode}">"이메일로 전송된 코드를 입력하세요."</p>

            <label for="code" th:text="#{code}">코드</label>
            <input type="text" id="code" name="code">

            <h5 th:if="${errormsg != null}" th:text="#{|${errormsg}|}"></h5>
<!--            <div th:if="${errormsg != null and errormsg.equals('wrongAuthCode')}" th:text="#{wrongAuthCode}"></div>-->
        </fieldset>
        <button onclick="location.href='newpwForm.html'"
                th:text="#{confirm}"
                type="submit">확인</button>
        <button onclick="location.href='verifycode.html'"
                th:onclick="|location.href='@{/find/pw/sendcode}'|"
                th:text="#{resendCode}"
                type="button">메일 다시 전송</button>
        <button onclick="location.href='../../loginForm.html'"
                th:onclick="|location.href='@{/login}'|"
                th:text="#{return}"
                type="button">돌아가기</button>
    </form>
</body>
</html>