.calendar{
    width: 900px;
    border : forestgreen 3px solid;
    display : block;
}

.dayOfWeek{
    float:left;
    width: calc(100% / 7);
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.dayText{
    font-size : 20px;
    font-weight: bold;
    text-align: center;
}

.eachDay {
    width : calc(100% / 7);
    height : 150px;
    background-color : cornsilk;
    border-collapse: collapse;
    border-color: black;
    border-width: 3px;
    float:left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.inputButton{
    border-width: 2px;
    border-color: black;
    background-color: lightgoldenrodyellow;
}

.inputBox{
    border-width: 3px;
    border-color: black;
    background-color: cornsilk;
}