<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <div th:text="#{greeting(${member.nickname})}"></div>
    <form action="login/loginForm.html" th:action="@{/}" method="post">
        <button onclick="location.href='login/loginForm.html'"
                th:onclick="|location.href='@{/}'|"
                th:name="logout" th:value="logout"
                th:text="#{logout}"
                type="submit">로그아웃</button>
    </form>
</body>
</html>