<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="favicon.png"/>
    <link th:href="@{/css/calendar_style.css}" rel="stylesheet">
    <link th:href="@{/css/calendar.css}" rel="stylesheet">
    <script th:src="@{/js/calendar.js}" defer></script>
    <title>메인 페이지</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <div th:text="#{homepage.greeting(${nickname})}"></div>
    <form action="login/loginForm.html" th:action="@{/}" method="post">
        <button onclick="location.href='member/memberDetailForm.html'"
                th:onclick="|location.href='@{/member}'|"
                th:name="#{inquireMember}"
                type="button">회원정보 조회</button>
        <button onclick="location.href='login/loginForm.html'"
                th:onclick="|location.href='@{/}'|"
                th:text="#{logout}"
                type="submit">로그아웃</button>
    </form>

    <h3 th:text="${calendarDTO.year}"></h3>
    <h1 th:text="${calendarDTO.month}"></h1>
    <div class="calendar">
        <div class="dayOfWeek">일</div>
        <div class="dayOfWeek">월</div>
        <div class="dayOfWeek">화</div>
        <div class="dayOfWeek">수</div>
        <div class="dayOfWeek">목</div>
        <div class="dayOfWeek">금</div>
        <div class="dayOfWeek">토</div><br>
        <div class="eachDay" th:each="num : ${#numbers.sequence(1, calendarDTO.startDay )}">
            -
        </div>
        <div th:each="dayInfo : ${calendarDTO.expenses}">
            <div class="eachDay">
                <div class="dayText" th:text="${dayInfo.day}"></div>
                <th:block th:if="${dayInfo.cost} != null">
                    <div th:text="${dayInfo.cost}"></div><br>
                    <div th:text="${dayInfo.memo}"></div><br>
                </th:block>
            </div>
        </div>
    </div>

    <div class="calendar">
        <div class="header">
            <div class="year-month"></div>
            <div class="nav">
                <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                <button class="nav-btn go-today" onclick="goToday()">Today</button>
                <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>
</body>
</html>