<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="favicon.png"/>
    <link th:href="@{/css/calendar_style.css}" rel="stylesheet">
    <link th:href="@{/css/calendar.css}" rel="stylesheet">
    <script th:src="@{/js/calendar.js}" defer></script>
    <title>메인 페이지</title>
</head>
<body>
    <h1 th:text="#{title}">데이트비 관리 프로그램</h1>
    <div th:text="#{homepage.greeting(${nickname})}"></div>
    <form action="login/loginForm.html" th:action="@{/}" method="post">
        <button onclick="location.href='member/memberDetailForm.html'"
                th:onclick="|location.href='@{/member}'|"
                th:name="#{inquireMember}"
                type="button">회원정보 조회</button>
        <button onclick="location.href='login/loginForm.html'"
                th:onclick="|location.href='@{/}'|"
                th:text="#{logout}"
                type="submit">로그아웃</button>
    </form>

    <h3 th:text="${calendarDTO.year}"></h3>
    <h1 th:text="${calendarDTO.month}"></h1>
    <div class="calendar">
        <div class="dayOfWeek">일</div>
        <div class="dayOfWeek">월</div>
        <div class="dayOfWeek">화</div>
        <div class="dayOfWeek">수</div>
        <div class="dayOfWeek">목</div>
        <div class="dayOfWeek">금</div>
        <div class="dayOfWeek">토</div><br>

        <div class="eachDay" th:if="${calendarDTO.startDay} != 1" th:each="num : ${#numbers.sequence(1, calendarDTO.startDay )}">--</div>
        <div th:each="dayInfo : ${calendarDTO.expenses}">
            <div class="eachDay">
                <div class="dayText" th:text="${dayInfo.date.day}"></div><br>
                <th:block th:if="${dayInfo.cost} != null">
                    <div th:text="|${dayInfo.cost}원|"></div>
                    <div th:text="${dayInfo.memo}"></div>
                </th:block>
                <a class="inputButton" th:href="@{/data(year=${calendarDTO.year},month=${calendarDTO.month},day=${dayInfo.date.day})}">입력/수정</a>
            </div>
        </div>
    </div>

    <div></div>
</body>
</html>